.vscode
*.aux
/docs/latex/**/*.*
/docs/**/*.*
!/docs/latex/**/*.txt
!/docs/latex/**/*.tex
!/docs/latex/**/*.bib
!/docs/latex/**/*.bst
!/docs/latex/resources/*
!/docs/**/*.txt
!/docs/**/*.jpg
!/docs/**/*.tex
